{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
{% endblock %}

{% block content %}
<div class="form-wrap">
    <h1>Adicione uma ação:</h1>
    <form method="post">
        <input type="hidden" name="csrf_token" valur="{{ csrf_token}}"/>
        <div class="field">
            <label for="stockSymbol">Ticket: <em>(obrigatório, de 1-5 letras maiúsculas</em> </label>
            <input type="text" id="stockSymbol" name="stock_symbol" required pattern="[A-Z]{1,5}" />
        </div>

        <div class="field">
            <label for="numberOfShares">Número de ações: <em>(obrigatório)</em></label>
            <input type="text" id="numberOfShares" name="number_of_shares" required />
        </div>

        <div class="field">
            <label for="purchasePrice">Preço de compra (R$):</label>
            <input 
                type="text" 
                id="purchasePrice" 
                name="purchase_price" 
                placeholder="R$300.00" 
                required />
        </div>

        <div class="field">
            <button type="submit">Adicionar</button>
        </div>
    </form>
</div>
{% endblock %}
